body{
  margin-left: 0px;
}


.navlink{
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;}

.navlink li {
  display: inline-block;
  margin: 0px 20px;}

.navlink li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  font-weight: bold;
  color: black;}

#navblog{
  margin-right: -700px;}

#navprofile{
  margin-right: 50px;}

#imgheader{
  margin-top: -50px;
  width: 120%;
  height: 100%;
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: 50px;}

.headertitle{ 
  text-align: center; 
  color: white; 
  font-weight: bold;}

#headertext{
  text-align: center;
  color: white; 
  font-weight: bold;}

#cardstyle{
  margin-top: 250px;
  margin-bottom: -100px; 
  padding-top: 40px; 
  padding-left: 32px; 
  border-color: white;}

.cardtitle{
  font-weight: bold; 
  font-size: 25px; 
  margin-left: 25px; 
  margin-top: 12px;
  color:  black;}

.cardcaption{
  font-size: 20px; 
  margin-left: 10px; 
  margin-top: 12px;
  color:  black;}

#imgfooter{
  margin-top: 240px;
  width: 110%;
  margin-left: -50px;
  margin-right: -50px;}

.footercaption{
  margin-top:  -250px; 
  margin-left: 200px;
  font-size: 40px; 
  color: white; 
  font-weight: bold;}

.inputtext{
  width: 500px; 
  margin-left: 300px; 
  margin-top: 30px; 
  height: 40px;}

.buttontext{
  margin-left: 20px; 
  border-radius: 20px;}


   @media screen and (min-width:  601px){
    #titlehead{
    margin-left: -500px;
    font-size: 2vw;
  
    }

    .headertitle{
      font-size: 6vw;
      margin-top: -400px;
    }
    #headertext{
      font-size: 3vw;
    }
  } 


  @media screen and (max-width:  600px){
      #titlehead{
    margin-left: -120px;
    font-size: 4vw;
  
    }

    .headertitle{
      font-size: 5vw;
      margin-top: -180px;
    }
    #headertext{
      font-size: 3vw;
    }
    #cardstyle{
      margin-top: 60px;
    }

    #cardimg{
      width: 70%;
      align: center;
      margin-left: 50px;
    }

    .cardtitle{
      font-size: 5vw;
      margin-left: 40px;
    }

    .cardcaption{
      font-size: 3vw;
      margin-bottom: 100px;
      max-width: 330px;
      margin-left: 70px;
    }

    #imgfooter{
      margin-top: 100px;
      width: 120%;
    }

    .footercaption{
      font-size: 4vw;
      margin-top: -120px;
      color: white;
      text-align: center;
      margin-left: 0px;
    }

    .inputtext{
      height: 50%;
      width: 50%;
      margin-left: 60px;
    }

    #buttontext{
      height: 30px;
      width: 20%;
      font-size: 3vw;
      line-height: 10px;
    }
  } 
