.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:4227px;
  min-width:200px;
  max-width:1920px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.HR-1{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:205px;
  width:884px;
  min-width:884px;
  margin-top:-33px;
  margin-bottom:4260px;
  min-height:undefinedpx;
  border:3px solid rgba(228, 228, 228, 1);
}
.HR-1-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.Group-55{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:148px;
  margin-top:-4227px;
  margin-bottom:4079px;
  min-height:148px;
}
.Group-55-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.Navbar-Menu-Details{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:162px;
  margin-top:0px;
  margin-bottom:-14px;
  min-height:162px;
  content:url(assets/images/Navbar_Menu_Details.png);
}
.Navbar-Menu-Details-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Group-54{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:33px;
  width:1832px;
  min-width:1832px;
  height:106px;
  margin-top:-135px;
  margin-bottom:29px;
  min-height:106px;
}
.Group-54-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.q4937ff4df9844cbe80a{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:0px;
  width:134.67px;
  min-width:134.67px;
  height:106px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:106px;
  content:url(assets/images/_4937ff4df9844cbe80a01fef6979a91e_0002_1.png);
}
.q4937ff4df9844cbe80a-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.JobTasker{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:150px;
  width:429.33px;
  min-width:429.33px;
  margin-top:-83px;
  margin-bottom:23px;
  min-height:60px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:48px;
  line-height:72.85714721679688px;
}
.JobTasker-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Blog{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:1431px;
  width:124px;
  min-width:124px;
  margin-top:-75px;
  margin-bottom:15px;
  min-height:60px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:36px;
  line-height:54.28571701049805px;
}
.Blog-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Profile{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:1644px;
  width:188px;
  min-width:188px;
  margin-top:-75px;
  margin-bottom:15px;
  min-height:60px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:36px;
  line-height:54.28571701049805px;
}
.Profile-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Desktop-Header-Light{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:674px;
  margin-top:-4079px;
  margin-bottom:3405px;
  min-height:674px;
  content:url(assets/images/Desktop_Header_Light___7.png);
}
.Desktop-Header-Light-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Group-53{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:558px;
  width:712.85px;
  min-width:712.85px;
  height:712.85px;
  margin-top:-3605px;
  margin-bottom:2892.15px;
  min-height:712.85px;
  filter:drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.07000000029802322));
}
.Group-53-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Pixel-True-Mockup--2{
  position:relative;
  z-index:10;
  pointer-events:auto;
  margin-left:0px;
  width:712.85px;
  min-width:712.85px;
  height:712.85px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:712.85px;
  content:url(assets/images/Pixel_True_Mockup__2__1.png);
}
.Pixel-True-Mockup--2-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.HR{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:499px;
  width:922px;
  min-width:922px;
  margin-top:-2854px;
  margin-bottom:2854px;
  min-height:undefinedpx;
  border:3px solid rgba(228, 228, 228, 1);
}
.HR-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.Bagaimana-aplikasi-b{
  position:relative;
  z-index:12;
  pointer-events:none;
  opacity:0.800000011920929;
  margin-left:630px;
  width:660px;
  min-width:660px;
  margin-top:-2745px;
  margin-bottom:2708px;
  min-height:37px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:44px;
  letter-spacing:0.04400000065565109px;
  line-height:36px;
}
.Bagaimana-aplikasi-b-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.desktop-Hero-Light-5{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:841px;
  margin-top:-2682px;
  margin-bottom:1841px;
  min-height:841px;
  content:url(assets/images/desktop_Hero_Light_5.png);
}
.desktop-Hero-Light-5-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.desktop-Hero-Light-9{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:800px;
  margin-top:-1957px;
  margin-bottom:1157px;
  min-height:800px;
  content:url(assets/images/desktop_Hero_Light_9.png);
}
.desktop-Hero-Light-9-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.desktop-Hero-Light-1{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:718px;
  margin-top:-1234px;
  margin-bottom:516px;
  min-height:718px;
  content:url(assets/images/desktop_Hero_Light_10.png);
}
.desktop-Hero-Light-1-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.desktop-Hero-Light-8{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:0px;
  width:1920px;
  min-width:1920px;
  height:509px;
  margin-top:-510px;
  margin-bottom:1px;
  min-height:509px;
  content:url(assets/images/desktop_Hero_Light_8.png);
}
.desktop-Hero-Light-8-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
